@{
    Layout = "_Layout";
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <div>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="size2 m1-txt1 flex-c-m how-btn1 trans-04"></a>
    </div>
</div>
