<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | EEBlog</title>
</head>
<body>
    <div>
        <div class="flex-w m-t-10 m-b-10">
            <a asp-area="Home" asp-controller="Home" asp-action="Index" class="size2 m1-txt1 flex-c-m how-btn1 trans-04">

            </a>
        </div>

        @RenderBody()
    </div>
</body>
</html>